.mat-column-xsapEiEstado{
    width: 10px;
    border-right: 1px solid currentColor;
    
    text-align: center;

}
.mat-column-xsapFecha{
    width: 20px;
    border-right: 1px solid currentColor;
    
    text-align: center;

}

.mat-column-origen{
    width: 20px;
    border-right: 1px solid currentColor;
    
    text-align: center;

}
.mat-column-intermedia{
    width: 20px;
    border-right: 1px solid currentColor;
    
    text-align: center;

}
.mat-column-sap{
    width: 20px;
    border-right: 1px solid currentColor;
   
    text-align: center;

}
.mat-column-tuplas{
    width: 15px;
    border-right: 1px solid currentColor;
    
    text-align: center;

}